@page "/ingredientsoverview"

<PageTitle>Ingredients</PageTitle>

<h1>Ingredients</h1>

<TableTemplate Items="@Ingredients">
    <TableCaption>List of ingredients:</TableCaption>
    <TableHeader>
        <th>Category</th>
        <th>Name</th>
        <th>Unit</th>
        <th></th>
    </TableHeader>
    <RowTemplate Context="CurrentIngredientModel">
        <td>@CurrentIngredientModel.IngredientCategory.Name</td>
        <td>@CurrentIngredientModel.Name</td>
        <td>@CurrentIngredientModel.Unit.Name</td>
        <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => EditIngredient(CurrentIngredientModel)">Edit</button></td>
    </RowTemplate>
</TableTemplate>

<button class="btn btn-primary btn-sm" type="button" @onclick="() => NewIngredient()">New</button>
