@page "/ingredientsoverview"

<PageTitle>Ingredients</PageTitle>

<h1>Ingredients</h1>

<TableTemplate Items="@Ingredients">
    <TableCaption>List of ingredients:</TableCaption>
    <TableHeader>
        <th>Category</th>
        <th>Name</th>
        <th>Unit</th>
        <th style="width: 30px"></th>
        <th style="width: 30px"></th>
    </TableHeader>
    <RowTemplate Context="Ingredient">
        <td>@Ingredient.IngredientCategory.Name</td>
        <td>@Ingredient.Name</td>
        <td>@Ingredient.Unit.Name</td>
        <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(Ingredient)">Edit</button></td>
        <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(Ingredient)"></button></td>
    </RowTemplate>
</TableTemplate>

<button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
