@page "/mealplansoverview"

<PageTitle>Meal plans</PageTitle>

<h1>Meal plans</h1>

<TableTemplate Items="@MealPlans">
    <TableCaption>Meal plans:</TableCaption>
    <TableHeader>
        <th>Name</th>
        <th></th>
    </TableHeader>
    <RowTemplate Context="CurrentMealPlanModel">
        <td>@CurrentMealPlanModel.Name</td>
        <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => EditMealPlan(CurrentMealPlanModel)">Edit</button></td>
    </RowTemplate>
</TableTemplate>

<button class="btn btn-primary btn-sm" type="button" @onclick="() => NewMealPlan()">New</button>