@page "/mealplansoverview"

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-11">
                    <h2>Meal plans</h2>
                </div>
                <div class="col-auto align-self-center">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <TableTemplate Items="@MealPlans" ShowIndex="true">
                <TableHeader>
                    <th>Name</th>
                    <th style="width: 50px"></th>
                    <th style="width: 30px"></th>
                </TableHeader>
                <RowTemplate Context="MealPlan">
                    <td>@MealPlan.Name</td>
                    <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(MealPlan)">Edit</button></td>
                    <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(MealPlan)"></button></td>
                </RowTemplate>
            </TableTemplate>
        </div>
    </div>
</div>
