@page "/mealplansoverview"
@using MealPlanner.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems"></Breadcrumb>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-11">
                    <h2>Meal plans</h2>
                </div>
                <div class="col-auto align-self-center">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <GridPlanner TItem="MealPlanModel" DataProvider="MealPlansDataProvider">
                <Columns>
                    <GridColumn TItem="MealPlanModel" HeaderText="#" PropertyName="Index" Filterable="false" Sortable="false">
                        @context.Index
                    </GridColumn>
                    <GridColumn TItem="MealPlanModel" HeaderText="Name" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending" StringComparison="StringComparison.OrdinalIgnoreCase">
                        @context.Name
                    </GridColumn>
                    <GridColumn TItem="MealPlanModel" Filterable="false" Class="text-start-right">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(context)">Edit</button>
                        <button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(context)"></button>
                    </GridColumn>
                </Columns>
            </GridPlanner>
        </div>
    </div>
</div>

<ConfirmDialog @ref="dialog" />
