@page "/productsoverview"
@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems"></Breadcrumb>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-11">
                    <h2>Products</h2>
                </div>
                <div class="col-auto align-self-center">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <GridPlanner TItem="ProductModel" DataProvider="ProductsDataProvider">
                <Columns>
                    <GridColumn TItem="ProductModel" HeaderText="#" PropertyName="Index" Filterable="false" Sortable="false">
                        @context.Index
                    </GridColumn>
                    <GridColumn TItem="ProductModel" HeaderText="Name" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending" StringComparison="StringComparison.OrdinalIgnoreCase">
                        <div style="display: flex; align-items: start;">
                            <div class="col-sm-3">
                                <img src="@context.ImageUrl" class="img-fluid" width="100" height="80" />
                            </div>
                            <div class="col-sm-8">
                                @context.Name
                            </div>
                        </div>
                    </GridColumn>
                    <GridColumn TItem="ProductModel" HeaderText="Category" PropertyName="ProductCategoryName" SortString="ProductCategoryName" SortKeySelector="item => item.ProductCategoryName" StringComparison="StringComparison.OrdinalIgnoreCase">
                        @context.ProductCategoryName
                    </GridColumn>
                    <GridColumn TItem="ProductModel" Filterable="false" Class="text-start-right">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(context)">Edit</button>
                        <button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(context)"></button>
                    </GridColumn>
                </Columns>
            </GridPlanner>
        </div>
    </div>
</div>

<ConfirmDialog @ref="dialog" />

