@page "/recipesoverview"

<PageTitle>Recipes book</PageTitle>

<h1>Recipes</h1>

<TableTemplate Items="@Recipes">
    <TableCaption>List of recipes:</TableCaption>
    <TableHeader>
        <th>Category</th>
        <th>Name</th>
        <th></th>
        <th style="width: 30px"></th>
        <th style="width: 30px"></th>
    </TableHeader>
    <RowTemplate Context="Recipe">
        <td>@Recipe.RecipeCategory.Name</td>
        <td>@Recipe.Name</td>
        <td>
            <img src="@Recipe.ImageUrl" class="img-fluid" width="100" height="80" />
        </td>
        <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(Recipe)">Edit</button></td>
        <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(Recipe)"></button></td>
    </RowTemplate>
</TableTemplate>

<button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>