@page "/recipecategoriesoverview"

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems"></Breadcrumb>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <table>
                <tr>
                    <td style="width: 100%;">
                        <h2>Recipe categories</h2>
                    </td>
                    <td style="white-space: nowrap;">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                    </td>
                </tr>
            </table>
        </div>

        @if (Categories != null)
        {
            <div class="card-body">
                <TableTemplate Data="@Categories" ShowIndex="true">
                    <TableHeader>
                        <th>Name</th>
                        <th style="width: 100px"></th>
                        <th style="width: 50px"></th>
                        <th style="width: 30px"></th>
                    </TableHeader>
                    <RowTemplate Context="category">
                        <td>
                            <div style="cursor: pointer;" @onclick="() => Update(category)">
                                @category.Name
                            </div>
                        </td>
                        <td>
                            @if (category.IsSelected)
                            {
                                <button class="btn btn-primary btn-sm" type="button" @onclick="() => MoveUp(category)" disabled="@(!CanMoveUp(category))">&#9650;</button>
                                <button class="btn btn-primary btn-sm" type="button" style="margin-left: 5px;" @onclick="() => MoveDown(category)" disabled="@(!CanMoveDown(category))">&#9660;</button>
                            }
                        </td>
                        <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(category)"></button></td>
                    </RowTemplate>
                </TableTemplate>
            </div>
        }
    </div>

    <div class="col mt-3">
        <button class="btn btn-primary btn-sm" type="button" @onclick="() => SaveAsync()">Save</button>
    </div>
</div>

<ConfirmDialog @ref="dialog" />