@page "/recipesoverview"

<PageTitle>Recipes book</PageTitle>

<h1>Recipes</h1>

<TableTemplate Items="@Recipes">
    <TableCaption>List of recipes:</TableCaption>
    <TableHeader>
        <th>Category</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </TableHeader>
    <RowTemplate Context="CurrentRecipeModel">
        <td>@CurrentRecipeModel.RecipeCategory.Name</td>
        <td>@CurrentRecipeModel.Name</td>
        <td>
            <img src="@CurrentRecipeModel.ImageUrl" class="img-fluid" width="100" height="80" />
        </td>
        <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => EditRecipe(CurrentRecipeModel)">Edit</button></td>
    </RowTemplate>
</TableTemplate>

<button class="btn btn-primary btn-sm" type="button" @onclick="() => NewRecipe()">New</button>