@page "/recipesoverview"
@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems"></Breadcrumb>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-11">
                    <h2>Recipes</h2>
                </div>
                <div class="col-auto align-self-center">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                </div>
            </div>
        </div>

        @if (Recipes != null)
        {
            <div class="card-body">
                <Grid TItem="RecipeModel"
                      AllowFiltering="true"
                      AllowPaging="true"
                      AllowSorting="true"
                      AutoHidePaging="true"
                      Class="table table-hover table-bordered table-striped"
                      DataProvider="RecipesDataProvider"
                      PageSize="10"
                      PageSizeSelectorVisible="true"
                      PageSizeSelectorItems="@(new int[] { 5,10,20,50 })"
                      Responsive="true"
                      EmptyText="No records to display"
                      FiltersRowCssClass="bg-primary text-white bg-opacity-25 border-bottom-0"
                      HeaderRowCssClass="bg-primary text-white border-bottom-0">
                    <GridColumns>
                        <GridColumn TItem="RecipeModel" HeaderText="Category" PropertyName="RecipeCategoryName" SortString="RecipeCategoryName" SortKeySelector="item => item.RecipeCategoryName" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending">
                            @context.RecipeCategoryName
                        </GridColumn>
                        <GridColumn TItem="RecipeModel" HeaderText="Name" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" StringComparison="StringComparison.OrdinalIgnoreCase">
                            @context.Name
                        </GridColumn>
                        <GridColumn TItem="RecipeModel" Filterable="false">
                            <a href="@context!.Source" target="_blank">
                                <img src="@context.ImageUrl" class="img-fluid" width="100" height="80" />
                            </a>
                        </GridColumn>
                        <GridColumn TItem="RecipeModel" Filterable="false">
                            <button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(context)">Edit</button>
                        </GridColumn>
                        <GridColumn TItem="RecipeModel" Filterable="false">
                            <button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(context)"></button>
                        </GridColumn>
                    </GridColumns>
                </Grid>
            </div>
        }
    </div>
</div>

<ConfirmDialog @ref="dialog" />

