@if (Recipe != null)
{
    <div class="row">
        <div class="col-5 col-md-4 text-end">First Name :</div>
        <div class="col-7 col-md-8">@Recipe.Name</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-4 text-end">Last Name :</div>
        <div class="col-7 col-md-8">@Recipe.Name</div>
    </div>
}

