@page "/shoppinglistsoverview"
@using MealPlanner.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems"></Breadcrumb>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <table>
                <tr>
                    <td style="width: 100%;">
                        <h2>Shopping lists</h2>
                    </td>
                    <td style="white-space: nowrap;">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-body">
            <GridTemplate TItem="ShoppingListModel" DataProvider="ShoppingListsDataProvider" TableGridClass="table table-hover table-striped">
                <Columns>
                    <GridColumn TItem="ShoppingListModel" HeaderText="#" PropertyName="Index" Filterable="false" Sortable="false">
                        @context.Index
                    </GridColumn>
                    <GridColumn FilterTextboxWidth="600" TItem="ShoppingListModel" HeaderText="Name" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending" StringComparison="StringComparison.OrdinalIgnoreCase">
                        @context.Name
                    </GridColumn>
                    <GridColumn TItem="ShoppingListModel" Filterable="false" Class="text-start-right">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(context)">Edit</button>
                        <button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(context)"></button>
                    </GridColumn>
                </Columns>
            </GridTemplate>
        </div>
    </div>
</div>

<ConfirmDialog @ref="dialog" />