@page "/recipebooks/productsoverview"
@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<div class="card">
    <div class="card-header">
        <table>
            <tr>
                <td style="width: 100%;">
                    <h2>Products</h2>
                </td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body">
        <GridTemplate TItem="ProductModel" @ref="_productsGrid" DataProvider="DataProviderAsync" TableGridClass="@_tableGridClass">
            <Columns>
                <GridColumn TItem="ProductModel" HeaderText="Name" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending" StringComparison="StringComparison.OrdinalIgnoreCase">
                    <div class="card-template">
                        <div class="card-header" style="padding: 0px;">
                            <img src="@context.ImageUrl" class="img-fluid" style="width: 200px; height: 100%; object-fit: cover; cursor: pointer; border-top-left-radius: 5px; border-top-right-radius: 5px;" @onclick="() => Update(context)" />
                        </div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td class="fill-space">
                                        @context.Name
                                    </td>
                                    <td class="min-space">
                                        <img src="Images\delete.png" alt="icon" class="small-icon" @onclick="() => DeleteAsync(context)">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fill-space">
                                        @context.ProductCategoryName
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </GridColumn>
                <GridColumn TItem="ProductModel" HeaderText="Category" PropertyName="ProductCategoryName" SortString="ProductCategoryName" SortKeySelector="item => item.ProductCategoryName" StringComparison="StringComparison.OrdinalIgnoreCase" />
            </Columns>
        </GridTemplate>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />

