.category-filter-header {
    position: relative;
    display: flex;
    align-items: center;
}

.category-filter-header span {
    white-space: nowrap;
}

.category-filter-control {
    position: absolute;
    top: calc(100% + 0.6rem);
    left: 0;
    right: 0;
    z-index: 5;
    font-weight: normal;
}

.card-header img.add-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
}
