@page "/recipebooks/recipecategoriesoverview"
@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<div>
    <div class="card">
        <div class="card-header">
            <table>
                <tr>
                    <td style="width: 100%;">
                        <h2>Recipe categories</h2>
                    </td>
                    <td style="white-space: nowrap;">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-body">
            @if (Categories != null)
            {
                <TableTemplate Data="@Categories" ShowIndex="true" ColumnCount="4">
                    <TableHeader>
                        <th>Name</th>
                        <th style="width: 80px"></th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>
                    </TableHeader>
                    <RowTemplate Context="category">
                        <td class="column-center">
                            @category.Name
                        </td>
                        <td class="column-center">
                            @if (category.IsSelected)
                            {
                                <button class="btn btn-primary btn-sm" type="button" @onclick="() => MoveUp(category)" disabled="@(!CanMoveUp(category))">&#9650;</button>
                                <button class="btn btn-primary btn-sm" type="button" style="margin-left: 5px;" @onclick="() => MoveDown(category)" disabled="@(!CanMoveDown(category))">&#9660;</button>
                            }
                        </td>
                        <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(category)">Edit</button></td>
                        <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(category)"></button></td>
                    </RowTemplate>
                </TableTemplate>
            }
        </div>
    </div>

    <div class="col mt-3">
        <button class="btn btn-primary btn-sm" type="button" @onclick="async () => await SaveAsync()">Save</button>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />