@page "/recipebooks/unitsoverview"
@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<style>
    .grid-additional-columns th:nth-child(1),
    .grid-additional-columns td:nth-child(1) {
        width: 40px;
        max-width: 40px;
    }

    .grid-additional-columns th:nth-child(3),
    .grid-additional-columns td:nth-child(3) {
        width: 200px;
        max-width: 200px;
    }

    .grid-additional-columns th:nth-child(4),
    .grid-additional-columns td:nth-child(4) {
        width: 40px;
        max-width: 40px;
    }
</style>

<div class="card">
    <div class="card-header">
        <table>
            <tr>
                <td style="width: 100%;">
                    <h2>Units</h2>
                </td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body">
        <GridTemplate TItem="UnitModel" @ref="_unitsGrid" DataProvider="DataProviderAsync" TableGridClass="@_tableGridClass">
            <Columns>
                <GridColumn TItem="UnitModel" HeaderText="#" PropertyName="Index" Filterable="false" Sortable="false">
                    @context.Index
                </GridColumn>
                <GridColumn TItem="UnitModel" HeaderText="Name" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending" StringComparison="StringComparison.OrdinalIgnoreCase">
                    <div style="cursor: pointer;" @onclick="() => Update(context)">
                        @context.Name
                    </div>
                </GridColumn>
                <GridColumn TItem="UnitModel" HeaderText="Unit type" PropertyName="UnitType" SortString="UnitType" SortKeySelector="item => item.UnitType">
                    @context.UnitType
                </GridColumn>
                <GridColumn TItem="UnitModel" Filterable="false">
                    <button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(context)"></button>
                </GridColumn>
            </Columns>
        </GridTemplate>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />