.grid-caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--bs-secondary-color);
    text-align: left;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}
