<style>
    .profile-actions {
        display: flex;
        align-items: center;
        text-align: end;
        align-items: flex-end;
    }

        .profile-actions a {
            text-decoration: none;
            margin-right: 0.5rem;
            display: inline-block;
            padding: 0px;
        }

        .profile-actions .btn-link {
            color: #2176d3;
            font-weight: 500;
            text-decoration: underline;
            border-radius: 4px;
            transition: background 0.12s;
        }
</style>

<AuthorizeView>
    <Authorized>
        <div class="profile-actions">
            <a href="identities/profile/@context.User!.Identity!.Name">Hello, @context.User!.Identity!.Name!</a>
            <button class="nav-link btn btn-link" @onclick="LogoutAsync">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="identities/register">Register</a>
        <a href="identities/login">Log in</a>
    </NotAuthorized>
    <Authorizing>
        Please wait, we are checking your authorization status...
    </Authorizing>
</AuthorizeView>