@inherits LayoutComponentBase
@using MudBlazor

<style>
    .login-cell,
    .contact-cell,
    .about-cell {
        width: 1%;
        white-space: nowrap;
        padding: 0; 
        text-align: end;
        vertical-align: middle;
        align-content: flex-end;
    }

        .contact-cell a,
        .about-cell a {
            display: inline-block;
            padding-left: 0.5em; 
        }

    .motto-text {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }
</style>

<PageTitle>Meal planner</PageTitle>

<MudContainer Class="page-container">
    <MudPaper Class="banner">
        <Banner />
    </MudPaper>

    <div class="banner-container">
        <table>
            <tr>
                <td class="image-column">
                    <img src="Images\logo.jpg" alt="Logo Image" class="logo-image" />
                </td>
                <td>
                    <p class="logo-text">Recipes & Meal planner</p>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="motto-text">Organize, Cook, Enjoy: Your Culinary Companion for Menus and Recipes!</p>
                </td>
                <td class="login-cell">
                    <LoginDisplay />
                </td>
                <td class="contact-cell">
                    <a href="contactus/">Contact us</a>
                </td>
                <td class="about-cell">
                    <a href="https://linkedin.com/in/claudia-nicoleta-fratila" target="_blank">About me</a>
                </td>
            </tr>
        </table>
        <hr class="custom-line">
    </div>

    <table style="width: 100%; height: 100%;">
        <tr>
            <td class="row">
                <NavMenu />
            </td>
            <td style="vertical-align: top; width: 100%;height: 100%; padding-right: 150px;">
                <div>
                    <main>
                        <div class="content">
                            @if (IsErrorActive)
                            {
                                <div>
                                    <Alert Color="AlertColor.Danger" Dismissable="true" OnClose="HideError">
                                        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
                                        @Message
                                    </Alert>
                                </div>
                            }
                            @if (IsInfoActive)
                            {
                                <div>
                                    <Alert Color="AlertColor.Success" Dismissable="true" OnClose="HideInfo">
                                        <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>
                                        @Message
                                    </Alert>
                                </div>
                            }
                            <CascadingValue Value="this" Name="MessageComponent">
                                <div>
                                    <div>
                                        @Body
                                    </div>
                                </div>
                            </CascadingValue>
                        </div>
                    </main>
                </div>
            </td>
        </tr>
    </table>
</MudContainer>

<Modal IsServiceModal="true" />
<Preload />
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
