.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 0px;
}

.banner {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 20px 100px 0px 150px;
}

.logo-image {
    max-width: 100px;
    max-height: 100px;
    justify-content: center;
}

.logo-text {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}

.motto-text {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 10px 0px 0px 10px;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.custom-line {
    border: 1px solid #333;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.image-column {
    width: 1px;
    white-space: nowrap;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
