@inherits LayoutComponentBase

<PageTitle>Meal planner</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @if (IsErrorActive)
            {
                <div>
                    <Alert Color="AlertColor.Danger" Dismissable="true" OnClose="HideError">
                        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
                        @Message 
                    </Alert>
                </div>
            }
            @if (IsInfoActive)
            {
                <div>
                    <Alert Color="AlertColor.Success" Dismissable="true" OnClose="HideInfo">
                        <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>
                        @Message
                    </Alert>
                </div>
            }
            <CascadingValue Value="this" Name="MessageComponent">
                @Body
            </CascadingValue>
        </div>
    </main>
</div>

<Modal IsServiceModal="true" />
<Preload />
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />