@inherits LayoutComponentBase
@using MudBlazor

<PageTitle>Meal planner</PageTitle>

<MudContainer Class="page-container">
    <MudPaper Class="banner">
        <Banner />
    </MudPaper>

    <div class="banner-container">
        <table style="width: -webkit-fill-available">
            <tr>
                <td class="image-column">
                    <img src="Images\logo.jpg" alt="Logo Image" class="logo-image" />
                </td>
                <td>
                    <p class="logo-text">Recipes & Meal planner</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="motto-text">
                        Organize, Cook, Enjoy: Your Culinary Companion for Menus and Recipes!
                        @*
                        Organize, Cook, Enjoy: Your Culinary Companion for Menus and Recipes!
                        Savor the Simplicity: Your Ultimate Menu and Recipe Organizer!
                        "Culinary Harmony: Your Go-To Menu and Recipe Organizer!"
                        "Tastefully Organized: Simplify Your Cooking Journey!"
                        "Recipe Bliss: Your Personal Menu and Recipe Keeper!"
                        "Cook Smart, Eat Well: Your Menu and Recipe Assistant!"
                        *@
                    </p>
                </td>
                <td style="align-content: flex-end; width:120px;">
                    <LoginDisplay />
                </td>
                <td style="align-content: flex-end; width:90px;">
                    <a href="contactus/">Contact us</a>
                </td>
                <td style="align-content: flex-end; width:90px;">
                    <a href="https://linkedin.com/in/claudia-nicoleta-fratila" target="_blank">About me</a>
                </td>
            </tr>
        </table>
        <hr class="custom-line">
    </div>

    <table>
        <tr>
            <td class="row">
                <NavMenu />
            </td>
            <td style="vertical-align: top">
                <div>
                    <main>
                        <div class="content">
                            @if (IsErrorActive)
                            {
                                <div>
                                    <Alert Color="AlertColor.Danger" Dismissable="true" OnClose="HideError">
                                        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
                                        @Message
                                    </Alert>
                                </div>
                            }
                            @if (IsInfoActive)
                            {
                                <div>
                                    <Alert Color="AlertColor.Success" Dismissable="true" OnClose="HideInfo">
                                        <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>
                                        @Message
                                    </Alert>
                                </div>
                            }
                            <CascadingValue Value="this" Name="MessageComponent">
                                <div>
                                    <div>
                                        @Body
                                    </div>
                                </div>
                            </CascadingValue>
                        </div>
                    </main>
                </div>
            </td>
        </tr>
    </table>
</MudContainer>

<Modal IsServiceModal="true" />
<Preload />
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
