<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Meal planner</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productcategoriesoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unitsoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product units
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productsoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipecategoriesoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Recipe categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipesoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Recipes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipesstatistics">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Recipes statistics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mealplansoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Meal plans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoppinglistsoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Shopping lists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shopsoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Shops
            </NavLink>
        </div>
    </nav>
</div>