@using MudBlazor

<div @onclick="ToggleNavMenu" class="nav-menu">
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="/">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Home
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="productcategoriesoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Product categories
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="unitsoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Product units
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="productsoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Products
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="productstatistics">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Products statistics
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="recipecategoriesoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Recipe categories
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="recipesoverview" Match="NavLinkMatch.All">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Recipes
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="recipestatistics">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Recipes statistics
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="mealplansoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Meal plans
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="shoppinglistsoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Shopping lists
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="shopsoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Shops
        </MudNavLink>
    </div>
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="audittrail">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Audit trail
        </MudNavLink>
    </div>
</div>