@typeparam TItem

<table class="table table-sm table-striped table-hover caption-top">
    <caption>@TableCaption</caption>
    <thead>
        <tr>
            @if (ShowIndex)
            {
                <th style="width: 20px">#</th>
            }
            @TableHeader
        </tr>
    </thead>
    <tbody>
        @if (@Data == null)
        {
            <tr>Loading...</tr>
        }
        else
        {
            var index = 1;
            @foreach (var item in Data.Items!)
            {
                <tr>
                    @if (ShowIndex)
                    {
                        <td>@CalculateIndex(index)</td>
                    }
                    @RowTemplate!(item)
                </tr>
                index++;
            }
        }
    </tbody>
</table>
