@typeparam TItem

<table class="table table-sm table-striped table-hover caption-top">
    <caption>@TableCaption</caption>
    <thead>
        <tr>
            @if (ShowIndex)
            {
                <th style="width: 20px">#</th>
            }
            @TableHeader
        </tr>
    </thead>
    <tbody>
        @if (Data == null)
        {
            <tr>Loading...</tr>
        }
        else
        {
            @foreach (var item in Data!)
            {
                <tr @onclick="@(() => OnSelectedItemChangedAsync(item))">
                    @if (ShowIndex)
                    {
                        <td>@item.Index</td>
                    }
                    @RowTemplate!(item)
                </tr>
            }
        }
    </tbody>
</table>
